<link href="~/Styles/Index.css" rel="stylesheet" />
<div class="banner">
    <img src="~/Images/banner.png" />
</div>
<div class="row">

    
    <div class="col-6">
        <p>
            <a href=@ViewBag.AuthUri class="btn btn-primary btn-md">Opret en playliste</a>
            <div class="text-info"> Dette kræver en spotify premium account </div>
        </p>
    </div>
    <p>
        <a href=# class="btn btn-primary btn-md">Join en playliste</a>
    </p>


</div>