<div class="jumbotron">
    <h2>Play List Name Sort é um Web App para gerar uma playlist com músicas das letras do seu nome!</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <p>            
            <a href=@ViewBag.AuthUri class="btn btn-primary btn-lg">Gerar nova playlist!</a>
        </p>
    </div>
</div>