<div class="jumbotron">
    <h2>Hovedopgave af Jurijs og Christoffer</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <p>            
            <a href=@ViewBag.AuthUri class="btn btn-primary btn-lg">Lav en playliste</a>
        </p>
    </div>
</div>