@model List<SpotifyAPI.Web.Models.FullTrack>
<script type="text/javascript"
        src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script>
    $(document).ready(function () {
        $("a[name=tab]").on("click", function () {
            var url_string = window.location.href;
            var url = new URL(url_string);
            var access_token = url.searchParams.get("access_token");
            $.ajax(
                {
                    type: "POST", //HTTP POST Method
                    url: "Play", // Controller/View
                    data: { //Passing data
                        spotifyUri: $(this).data("index"), //Reading text box values using Jquery
                        access_token: access_token,

                    }
                });
            console.log("hey");
        });
    });
</script>
<table id="Grid" class="table table-striped table-bordered table-hover table-condensed">
    <tbody>
        @if (Model == null)
        {
            <p>Nothing here</p>
        }
        else
        {
            foreach (var item in @Model)
            {
                <tr>
                    <td></td>
                    <td>
                        <div class="row" id="song" style="justify-content: space-between; padding:6px;">
                            <a id="tab" data-index="@item.Uri" name="tab" href="#">@item.Artists[0].Name - @item.Name</a>

                            <div>
                                <a class="icon-thumbs-up" href="#" style="color:green;"></a>
                                <a class="icon-thumbs-down" href="#" style="color:red;"></a>
                            </div>
                        </div>
                    </td>
                    <td>
                        Stemmer
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

