@model IList<String>

@{
    ViewBag.Title = "GenerateNameSortList";
}

<script type="text/javascript" language="javascript">
    var hashes = window.location.hash;
    hashes = hashes.replace('#', '?');
    if (hashes !== "")
        window.location = hashes;
</script>
<script src="https://sdk.scdn.co/spotify-player.js"></script>
<script src="~/Scripts/Spotify/SpotifyWebPlaybackSDK.js"></script>
<a class="icon-arrow-left icon-large" href="/Home/"></a>
<h2>@ViewBag.UserName Playlist</h2>
<table id="Grid" class="table table-dark table-hover table-condensed">
    <tbody>
        <tr>
            <td>

                <div class="btn-group col-3">
                    <button onclick="Play('music.mp3','audio');" class="btn btn-custom"><span title="Play" id="play" class="icon-play aligned"></span></button>
                    <button onclick="Stop('music.mp3','audio');" class="btn btn-custom"><span title="Stop" id="stop" class="icon-stop aligned"></span></button>
                    <button onclick="Previous('music.mp3','audio');" class="btn btn-custom"><span title="Previous" id="previous" class="icon-step-backward aligned"></span></button>
                    <button onclick="Next('music.mp3','audio');" class="btn btn-custom"><span title="Next" id="next" class="icon-step-forward aligned"></span></button>
                    <button onclick="Backward5('music.mp3','audio');" class="btn btn-custom"><span title="-5 seconds" id="play" class="icon-fast-backward aligned"></span></button>
                    <button onclick="Forward5('music.mp3','audio');" class="btn btn-custom"><span title="+5 seconds" id="play" class="icon-fast-forward aligned"></span></button>
                    <button onclick="Backward1('music.mp3','audio');" class="btn btn-custom"><span title="-1 second" id="play" class="icon-chevron-left aligned"></span></button>
                    <button onclick="Forward1('music.mp3','audio');" class="btn btn-custom"><span title="+1 second" id="play" class="icon-chevron-right aligned"></span></button>
                    <button onclick="VolumeUp('music.mp3','audio');" class="btn btn-custom"><span title="Volume Up" id="volumeup" class="icon-plus aligned"></span></button>
                    <button onclick="VolumeDown('music.mp3','audio');" class="btn btn-custom"><span title="Volume Down" id="volumedown" class="icon-minus aligned"></span></button>
                    <i class="fa fa-spotify fa-2x" style="color: #1db954; margin-left:10px;"></i>
                </div>


            </td>
            <td>Sang navn</td>
            <td>Sang kunstner</td>
            <td>Stemmer</td>

        </tr>
    </tbody>
</table>
<div class="col-12" style="text-align: right;">
    <a class="icon-refresh icon-large" href="#"></a>
</div>
<table id="Grid" class="table table-striped table-bordered table-hover table-condensed">
    <tbody>
        @if (Model != null)
        {
            int count = 0;
            string userName = ViewBag.UserName.ToString().Replace(" ", "");

            foreach (var item in @Model)
            {
                <tr>
                    <td>
                        @userName[count++]
                    </td>
                    <td>
                        <div class="row" style="justify-content: space-between; padding:6px;">
                            @item
                            <div>
                                <a class="icon-thumbs-up" href="#" style="color:green;"></a>
                                <a class="icon-thumbs-down" href="#" style="color:red;"></a>
                            </div>
                        </div>
                    </td>
                    <td>
                        Stemmer
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


<div>Icons vi kan bruge:</div>
<div>
    <i class="icon-thumbs-up"></i>
    <i class="icon-thumbs-down"></i>
</div>
<div>
    <i class="icon-step-backward"></i>
    <i class="icon-play-circle"></i>
    <i class="icon-pause"></i>
    <i class="icon-stop"></i>
    <i class="icon-step-forward"></i>
</div>
<div>
    <i class="icon-arrow-left"></i>
    <i class="icon-arrow-right"></i>
    <i class="icon-spinner"></i>
    <i class="icon-spinner icon-spin icon-large"></i>
</div>
<div>
    <i class="icon-facebook-sign" style="color: #3b5998;"></i>
    <i class="icon-instagram" style="color: #fccc63;"></i>
    <i class="icon-twitter-sign" style=" color: #1da1f2;"></i>
    <i class="icon-github"></i>
    <i class="icon-youtube-sign" style="color: #bd081c;"></i>
    <i class="icon-google-plus" style="color: #db4437"></i>

</div>
<a href="https://fontawesome.com/v3.2.1/icons/"> Fundet her </a>









